body {
    font-family: 'Dubai', Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0241fb;
    color: white;
    padding: 3em 1em;
    text-align: center;
    text-align-last: center;
}

img{
    width: 80%;
    height: 170px;
}
h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #0241fb;
    margin-top: 0;
}

ol {
    margin-left: 20px;
}

strong {
    color: #0241fb;
}
